@media (prefers-color-scheme: light) {
  html, body { background-color: #F3EBE1 }
}

@media (prefers-color-scheme: dark) {
  html, body { background-color: #F3EBE1 }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .media-icon i {
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .media-icon i {
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .media-icon i {
  }
}
html, body {
	font-size: 1rem;
	font: -apple-system-body;
	font-family: "Arimo", sans-serif !important;
	color: black; /* do not remove. Used in Javascript */
  font-weight: normal;
	height: 100%;
	line-height: 1.428571429 !important;
	/*width: 100%;*/
	margin: 0; /* remove default margin */
}
.flex-container {
    display: flex; /* Make the body a flex container */
    height: 100%; /* Full height */
}
iframe {
    border:  none;
    margin: 0;
    padding: 0;
}
#FrameLinks {
    width: 38%;
    position: fixed;
    top: 0;
    height: 2em;
    margin-top: 1em;
    z-index: 1;
}
#FrameText {
    flex: 1; /* 1/3 of the space */
    height: 100%; /* Full height to its parent */
    width: 50%;
    border-right: 1px solid black;
}

#rightContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%; 
}

#FrameScore {
    flex: 9; /* 7/8 of the container */
    border-bottom: 1px solid black;
}

#FrameAudio {
    flex: 1; /* 1/8 of the container */
    height: 5em;
    position: relative;
}
.versions-container {
    display: flex;
    justify-content: space-between;
}
.version {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em 1em 0 1em;
    min-width: 100px;
    word-wrap: break-word; /* Old way, for backwards compatibility */
    overflow-wrap: break-word; /* Modern way, recommended */
    word-break: break-word; /* Assists overflow-wrap for aggressive breaks */
}

.version:not(:last-child) {
    border-right: 1px solid lightgrey;
}
/* CSS media query */
@media (max-width: 200px) {
    .versions-container {
        flex-direction: column;
    }
    .version {
        min-width: 0; /* Reset the minimum width */
    }
}
.flex-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10pt;
  overflow-y: scroll;
}

.flex-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.flex-sidenav-rows {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.nav-flex-row {
  display: flex;
  justify-content: space-between; /* space-around can also be used based on your preference */
  margin-bottom: 20px;
}

.nav-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center; /* this will center all child elements horizontally, because parent is flex and direction is column */
  flex: 1; /* this will ensure all 3 columns get equal width */
}
