@font-face  {
    font-family: 'ED Psaltica';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Psaltica.ttf') format('truetype');
}

@page  {
  margin: 0.5in;
  size: portrait letter;
}

a.cover11  {
  color: blue;
}

a.link  {
  color: blue;
}

body  {
    color: black;
    font-family: "Arimo", sans-serif;
    font-size: 12pt;
    height: 100%;
    line-height: 1.2rem;
    width: 100%;
}

hr.solid1  {
    border-top: 1pt solid black;
    text-align: center;
    width: 88%;
}

p.actor  {
    break-before: page;
    color:red;
    font-size:80%;
    font-weight:bold;
    margin-top: 5pt;
    text-align:left;
}

p.actor:first-letter  {
    font-size:125%;
    text-align:left;
}

p.actorinaudible  {
  color: red;
  font-size: 10pt;
  font-variant: normal;
  font-weight: bold;
  padding-top: 3pt;
  text-align: left;
  text-indent: 0.3in;
}

p.anum {
  color: red;
  font-size: 10pt;
  font-style: normal;
}

p.bigblack {
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
}

p.black {
  color: black;
}

p.bold  {
  font-style: normal;
  font-weight: bold;
}

p.bolditalics  {
  font-style: italic;
  font-weight: bold;
}

p.bolditalicsred  {
  color: red;
  font-style: italic;
  font-weight: bold;
}

p.boldred  {
  color: red;
  font-style: normal;
  font-weight: bold;
}

p.break  {
    margin-bottom: 10pt;
}

p.chant  {
    line-height:150%;
    margin-bottom: 10pt;
    text-align:left;
}

p.chant:first-letter  {
    color:red;
    font-size:180%;
    font-weight:normal;
}

p.chapverse  {
    color:red;
    font-size: 80%;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

p.contact  {
  font-size: 9pt;
}

p.cover0  {
  color: #cc0000;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 1in;
  margin-left: 1in;
  text-align: left;
}

p.cover1  {
    font-family: sans-serif;
    font-size: 48pt;
    font-weight:normal;
    line-height: 100%;
    margin-top: 1in;
    text-align:center;
}

p.cover10  {
  font-size: 9pt;
  font-weight: bold;
  margin-top: 0.2in;
  text-align: center;
}

p.cover11  {
  font-weight: normal;
  line-height: 20%;
  text-align: center;
}

p.cover110  {
  color: #ffffff;
  font-size: 9pt;
  font-weight: normal;
  text-align: center;
}

p.cover12  {
  color: #cc0000;
  font-size: 12pt;
  font-weight: normal;
  margin-bottom: .5in;
  margin-left: 1.5in;
  margin-right: 1.5in;
  margin-top: .5in;
  text-align: center;
}

p.cover2  {
  font-family: sans-serif;
  font-size: 24pt;
  font-weight:bold;
  margin-bottom: 1rem;
  text-align:center;
}

p.cover3  {
  color:red;
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 0.85in;
  text-align: center;
  text-indent: 3.5mm;
}

p.cover4  {
  color:red;
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

p.cover40  {
  color: #cc0000;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

p.cover5  {
    font-family: sans-serif;
    font-size:16pt;
    font-weight:bold;
    margin-top: 0.2in;
    text-align:center;
}

p.cover6  {
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

p.cover7  {
  color: #cc0000;
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 0.3in;
  text-align: center;
}

p.cover8  {
  color: #cc0000;
  font-size: 10pt;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

p.cover9  {
  font-size: 12pt;
  font-weight: bold;
  margin-top: 2in;
  text-align: center;
}

p.cover90  {
  color: #ffffff;
  font-size: 12pt;
  font-weight: normal;
  margin-top: 8in;
  text-align: center;
}

p.credits1  {
  font-size: 12pt;
  font-weight: bold;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: left;
}

p.credits2  {
  font-size: 12pt;
  text-align: left;
}

p.credits3  {
  font-size: 9pt;
  padding-bottom: 1em;
  text-align: left;
}

p.credits4  {
  font-size: 9pt;
  text-align: left;
}

p.designation  {
    color:red;
    font-size:95%;
    font-style:normal;
    font-weight:bold;
    text-align: center;
}

p.dialog, span.dialog  {
    font-size:95%;
    line-height:130%;
    margin-bottom: 5pt;
    text-align:left;
    text-indent: 3.5mm;
}

p.dialogzero  {
    font-size:95%;
    line-height:130%;
    text-align:left;
    text-indent: 3.5mm;
}

p.footer  {
    color:red;
    font-size: 80%;
    font-style: normal;
    font-weight:normal;
}

p.footerEvenCenter  {
  font-size: 10pt;
  text-align: center;
}

p.footerEvenCenterColor  {
  color: red;
}

p.footerEvenLeft  {
  font-size: 10pt;
  text-align: left;
}

p.footerEvenLeftColor  {
  color: red;
}

p.footerEvenRight  {
  font-size: 10pt;
  text-align: right;
}

p.footerEvenRightColor  {
  color: red;
}

p.footerOddCenter  {
  font-size: 10pt;
  text-align: center;
}

p.footerOddCenterColor  {
  color: red;
}

p.footerOddLeft  {
  font-size: 10pt;
  text-align: left;
}

p.footerOddLeftColor  {
  color: red;
}

p.footerOddRight  {
  font-size: 10pt;
  text-align: right;
}

p.footerOddRightColor  {
  color: red;
}

p.greekmelody  {
  color: red;
  font-size: 8pt;
  font-style: italic;
  font-weight: normal;
  padding-bottom: 3pt;
  text-align: center;
}

p.header  {
    color:red;
    font-size: 80%;
    font-style: normal;
    font-weight:normal;
}

p.headerEvenCenter  {
  border-bottom: thin solid silver;
  font-size: 10pt;
  text-align: center;
}

p.headerEvenCenterColor  {
  color: red;
}

p.headerEvenLeft  {
  border-bottom: thin solid silver;
  font-size: 10pt;
  text-align: center;
}

p.headerEvenLeftColor  {
  color: red;
}

p.headerEvenRight  {
  border-bottom: thin solid silver;
  font-size: 10pt;
  text-align: center;
}

p.headerEvenRightColor  {
  color: red;
}

p.headerOddCenter  {
  border-bottom: thin solid silver;
  font-size: 10pt;
  text-align: center;
}

p.headerOddCenterColor  {
  color: red;
}

p.headerOddLeft  {
  border-bottom: thin solid silver;
  font-size: 10pt;
  text-align: center;
}

p.headerOddLeftColor  {
  color: red;
}

p.headerOddRight  {
  border-bottom: thin solid silver;
  font-size: 10pt;
  text-align: center;
}

p.headerOddRightColor  {
  color: red;
}

p.heirmos  {
    line-height:150%;
    margin-bottom: 10pt;
    text-align:left;
}

p.heirmos:first-letter  {
    color:red;
    font-size:180%;
    font-weight:normal;
}

p.hymn  {
    font-size: 100%;
    line-height:150%;
    margin-bottom: 10pt;
    text-align:left;
    text-indent: 3.5mm;
    text-indent: 3.5mm;;
}

p.hymn:first-letter  {
    color:red;
    font-size:180%;
    font-weight:normal;
}

p.hymn:first-letter(drop)  {
    color:red;
    float: left;
    font-size: 320%;
    line-height: 0.5em;
}

p.hymnlinefirst  {
    line-height:150%;
    text-align:left;
    text-indent: 3.5mm;
    text-indent: 3.5mm;;
}

p.hymnlinefirst:first-letter  {
    color:red;
    font-size:180%;
    font-weight:normal;
}

p.hymnlinelast  {
    line-height:150%;
    margin-bottom: 10pt;
    text-align:left;
}

p.hymnlinemiddle  {
    line-height:150%;
    text-align:left;
}

p.inaudible  {
    font-size:80%;
    line-height:150%;
    text-align:left;
    text-indent: 3.5mm;
}

p.inlinerubric  {
  color: red;
  font-size: 10pt;
  font-style: italic;
}

p.italics  {
  font-style: italic;
  font-weight: normal;
}

p.italicsblack  {
  color: black;
  font-style: italic;
  font-weight: normal;
}

p.italicsred  {
  color: red;
  font-style: italic;
  font-weight: normal;
}

p.letter0  {
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 3pt;
  text-align: left;
}

p.letter1  {
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 12pt;
  text-align: left;
}

p.lineblank  {
  font-size: 1pt;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 12pt;
  text-align: left;
}

p.logo1  {
  color: #cc0000;
  font-size: 25pt;
  font-weight: bold;
  line-height: 60%;
  margin-top: 8pt;
  text-align: center;
}

p.logo2  {
  font-size: 16pt;
  font-weight: normal;
  margin-bottom: 8pt;
  text-align: center;
}

p.logo_line_above  {
  font-size: 11.2pt;
  font-weight: normal;
  margin-bottom: .1in;
  margin-top: -9in;
  text-align: center;
}

p.logo_line_below  {
  font-size: 11.2pt;
  font-weight: normal;
  margin-top: -4pt;
  text-align: center;
}

p.melody  {
    color:red;
    font-size:95%;
    font-style:italic;
    font-weight:normal;
    margin-top: 6pt;
    text-align:center;
}

p.missalreading  {
    font-size:80%;
    font-weight:normal;
    margin-top: 5pt;
    text-align-last:right;
    text-align:left;
    text-indent: 3.5mm;
}

p.missaltitle  {
    color:red;
    font-size:80%;
    font-weight:bold;
    margin-top: 5pt;
    text-align-last:right;
    text-align:left;
}

p.mixed  {
    font-size:95%;
    font-style:normal;
    font-weight:normal;
    margin-top: 6pt;
    text-align:center;
}

p.mode  {
    break-before: page;
    color:red;
    font-size:95%;
    font-weight:bold;
    margin-top: 6pt;
    text-align:center;
}

p.name  {
    color:red;
    font-size: 80%;
    font-style:italic;
    font-weight:normal;
    margin-bottom: 3pt;
    margin-top: 3pt;
    text-align:center;
}

p.nodisplay  {
  font-size: 0pt;
  line-height: 0%;
}

p.noprintactor  {
  font-size: 0pt;
  line-height: 0%;
}

p.noprintdesig  {
  font-size: 0pt;
  line-height: 0%;
}

p.noprintprayer  {
  font-size: 0pt;
  line-height: 0%;
}

p.noprintrub  {
  font-size: 0pt;
  line-height: 0%;
}

p.optional  {
  font-style: italic;
}

p.plain  {
    font-style:normal;
    font-weight:normal;
}

p.prayer  {
    line-height:150%;
    margin-bottom: 6pt;
    text-align:left;
    text-indent: 3.5mm;
}

p.prayeroptional  {
    color:#651612;
    font-size: 80%;
    font-style:italic;
    line-height:150%;
    margin-bottom: 6pt;
    text-align:left;
    text-indent: 3.5mm;
}

p.prayerzero  {
    line-height:150%;
    text-align:left;
    text-indent: 3.5mm;
}

p.reading  {
    line-height:150%;
    margin-bottom: 6pt;
    text-align:left;
    text-indent: 3.5mm;
}

p.readingcenter  {
    line-height:150%;
    margin-bottom: 6pt;
    text-align:center;
}

p.readingcenterzero  {
    line-height:150%;
    text-align:center;
}

p.readingzero  {
    line-height:150%;
    text-align:left;
    text-indent: 3.5mm;
}

p.red  {
  color: red;
}

p.reference  {
  color: red;
  font-size: 10pt;
  font-style: italic;
}

p.rubric  {
    color:red;
    font-size: 80%;
    font-style:italic;
    text-align:left;
    text-indent: 3.5mm;
}

p.servicesources  {
    color:red;
    font-family: serif;
    font-size: 80%;
    font-weight:bold;
    padding-left: 25pt;
    text-align: left;
    text-indent: 3.5mm;
}

p.servicesourcessection  {
    font-family: serif;
    font-size: 80%;
    padding-bottom: 5pt;
    padding-left: 25pt;
    text-align: left;
    text-indent:7.0mm;
}

p.servicesourcestitle  {
    font-family: serif;
    font-size: 90%;
    font-weight:bold;
    padding-left: 10pt;
    text-align: left;
}

p.small  {
    color:red;
    font-size:70%;
    font-weight:bold;
    margin-bottom: 3pt;
    margin-top: 3pt;
}

p.smallcenter  {
    color:red;
    font-size:70%;
    font-weight:bold;
    margin-bottom: 3pt;
    margin-top: 3pt;
    text-align:center;
}

p.smaller  {
  font-size: 8pt;
}

p.source  {
    color:gray;
    font-size:70%;
    font-style:normal;
    font-weight:normal;
    margin-top: 6pt;
    text-align:left;
}

p.source0  {
    color:gray;
    font-size:70%;
    font-style:normal;
    font-weight:normal;
    text-align:left;
}

p.source1  {
    color:gray;
    font-size:70%;
    font-style:normal;
    font-weight:normal;
    text-align:left;
}

p.synaxarioncommemoration  {
  font-size: 13pt;
  line-height: 150%;
  padding-bottom: 6pt;
  text-align: left;
  text-indent: .3in;
}

p.synaxarionnarration0  {
  font-size: 10pt;
  line-height: 150%;
  padding-bottom: 0pt;
  padding-top: 0pt;
  text-align: left;
  text-indent: .2in;
}

p.synaxarionnarration1  {
  font-size: 10pt;
  line-height: 150%;
  padding-bottom: 6pt;
  padding-top: 3pt;
  text-align: left;
  text-indent: .2in;
}

p.synaxarionnarration10  {
  font-size: 10pt;
  line-height: 150%;
  padding-bottom: 0pt;
  padding-top: 3pt;
  text-align: left;
  text-indent: .2in;
}

p.synaxarionnarrationlast  {
  font-size: 10pt;
  line-height: 150%;
  padding-bottom: 6pt;
  padding-top: 0pt;
  text-align: left;
  text-indent: .2in;
}

p.synaxarionnarrationtitle  {
  color: red;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 0pt;
  text-align: center;
}

p.synaxarionnote  {
  font-size: 9pt;
  line-height: 150%;
  padding-bottom: 6pt;
  text-align: left;
  text-indent: .3in;
}

p.synaxarionverse  {
  font-size: 10pt;
  line-height: 150%;
  padding-bottom: 3pt;
  text-align: center;
}

p.synaxarionverse0  {
  font-size: 10pt;
  line-height: 150%;
  padding-bottom: 0pt;
  text-align: center;
}

p.synaxarionversetitle  {
  color: red;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 3pt;
  text-align: center;
}

p.table  {
  border-collapse: collapse;
  margin: 0 0 pt;
  padding: 0;
}

p.td  {
  border-left: thin solid silver;
  border-right: thin solid silver;
  padding-left: 0pt;
  padding-right: 0pt;
  vertical-align: top;
}

p.tdL1  {
  border-right: thin solid silver;
  padding-left: 0pt;
  padding-right: 5pt;
  vertical-align: top;
}

p.tdL2  {
  padding-left: 5pt;
  padding-right: 0pt;
  vertical-align: top;
}

p.tdMono  {
  padding-left: 0pt;
  padding-right: 0pt;
  vertical-align: top;
}

p.title  {
    font-family: "Arimo", sans-serif;
    font-size:95%;
    font-weight:normal;
    text-align: center;
}

p.titlezero  {
    color:red;
    font-size:80%;
    font-style:normal;
    font-weight:bolder;
    text-align:center;
}

p.tr  {
  border-spacing: 0 5 pt;
}

p.typikon  {
    font-family: serif;
    font-size: 80%;
    padding-left: 22pt;
    text-align: left;
    text-indent: 3.5mm;
}

p.typikonblock  {
    font-family: serif;
    font-size: 80%;
    text-align: left;
}

p.typikoncenter  {
    font-family: serif;
    font-size: 80%;
    text-align: center;
}

p.typikoncenteromitted  {
    background-color:#e9e9e9;
    font-family: serif;
    font-size: 80%;
    text-align: center;
}

p.typikoncommemoration  {
    font-family: serif;
    font-size: 80%;
    font-weight:bold;
    text-align: left;
}

p.typikonindent  {
    font-family: serif;
    font-size: 80%;
    text-align: left;
    text-indent: 3.5mm;
}

p.typikonnote  {
    font-family: serif;
    font-size: 70%;
    text-align: left;
}

p.typikonomitted  {
    background-color:#e9e9e9;
    font-family: serif;
    font-size: 80%;
    padding-left: 22pt;
    text-align: left;
    text-indent: 3.5mm;
}

p.verse  {
    font-style:italic;
    line-height:150%;
    margin-bottom: 3pt;
    text-align:left;
    text-indent: 3.5mm;
}

p.versecenter  {
    font-size:90%;
    font-style:italic;
    line-height:100%;
    margin-bottom: 3pt;
    text-align:center;
}

p.versiondesignation  {
  color: red;
  font-size: 6pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
}

span.anum  {
    color: red;
    font-size:80%;
}

span.bigblack  {
    color:black;
    display:inline-block;
    font-size:150%;
    font-style:normal;
    font-weight:normal;
    line-height:150%;
}

span.black  {
    color:black;
    font-style:normal;
    font-weight: normal;
}

span.bold  {
    font-style:inherit;
    font-weight:bold;
}

span.bolditalics  {
    font-style:italic;
    font-weight:bold;
}

span.bolditalicsred  {
    color:red;
    font-style:italic;
    font-weight:bold;
}

span.boldred  {
    color:red;
    font-style:inherit;
    font-weight:bold;
}

span.designation  {
    color:red;
    font-style:normal;
    font-weight:bolder;
    white-space: normal;
}

span.italics  {
    font-style:italic;
}

span.italicsblack  {
    color:black;
    font-style:italic;
}

span.italicsred  {
    color:red;
    font-style:italic;
}

span.melody  {
    color:red;
    font-style:italic;
    white-space: normal;
}

span.mode  {
    color:red;
    font-style:normal;
    font-weight:bolder;
    white-space: normal;
}

span.numright  {
    color:red;
    float: right;
    font-style:inherit;
}

span.red  {
    color:red;
    font-style:inherit;
}

span.reference {
    color:red;
    font-size:70%;
    font-style:italic;
    font-variant:normal;
    font-weight:normal;
}

span.rubric {
    color:red;
    font-size:80%;
    font-style:italic;
    font-variant:normal;
    font-weight:normal;
}

span.strong  {
    font-weight:bold;
}

span.versiondesignation  {
    color: red;
    float: right;
    font-size:50%;
    font-style:normal;
    font-weight:lighter;
    vertical-align:middle;
}

